.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #b7b7b7;
text-align: center;
}

.heading2Xl strong {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}


.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.Navbar {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.Navbar a {
  margin-right: 20px;
  color: black;
  box-sizing: border-box;
  padding: 2px 5px;
  border-radius: 7px;
  width: 100px;
  text-align: center;
}

.Navbar .active {
  padding: 2px 5px;
  border-radius: 7px;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: white;
}

.Navbar a:hover {
  text-decoration: none;

}

.icons a {
  margin-right: 10px;
}
